services:
  fabspace_api:
    container_name: fabspace_api
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - 9001:9001
    env_file:
      - .env
    networks:
      - app_network

  fabspace_bom_checker:
    container_name: fabspace_bom_checker
    build:
      context: ./python/bom-checker
      dockerfile: ./Dockerfile
    restart: always
    environment:
      - PORT=5001
    ports:
      - 5001:5001
    env_file:
      - .env
    networks:
      - app_network
    depends_on:
      - fabspace_api

networks:
  app_network:
    driver: bridge
